<section class="page customers">
  <h2>Zákazníci</h2>

  <div class="toolbar">
    <button mat-button class="add-button" (click)="router.navigate(['/customers/new'])">
      <mat-icon color="white" aria-label="add">add</mat-icon>
      Nový zákazník
    </button>
  </div>
  @if (loading) {
    <div>Načítám…</div>
  }

  @if (error) {
    <div class="error">{{ error }}</div>
  }

  @if (!loading && !error && customers.length) {
    <table class="customers-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Jméno</th>
          <th>Příjmení</th>
          <th>Email</th>
          <th>Telefon</th>
          <th>Město</th>
        </tr>
      </thead>
      <tbody>
      @if(customers.length > 0){
        @for(c of customers; track $index){
          <tr>
            <td>{{ $index + 1 }}</td>
            <td>{{ c.name }}</td>
            <td>{{ c.surname }}</td>
            <td>{{ c.email }}</td>
            <td>{{ c.phoneNumber }}</td>
            <td>{{ c.city }}</td>
          </tr>
        }
      }
      </tbody>
    </table>
  }

  @if (!loading && !error && !customers.length) {
    <p>Žádné faktury k zobrazení.</p>
  }

  @if (totalPages > 1) {
    <div class="pagination">
      <button (click)="prev()" [disabled]="page === 0">Předchozí</button>
      <span>Stránka {{ page + 1 }} / {{ totalPages }} ({{ totalElements }} faktur)</span>
      <button (click)="next()" [disabled]="page + 1 >= totalPages">Další</button>
    </div>
  }
</section>
