.chart-container {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 350px;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

.no-data-overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255,255,255,0.85);
  z-index: 2;
  min-height: 50px;
}

.no-data-overlay mat-icon {
  height: 50px;
  width: 50px;
  font-size: 50px !important;
}

.no-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 350px;
}

.no-data-text {
  margin-top: 12px;
  color: #757575;
  font-size: 1.2rem;
}
