/* You can add global styles to this file, and also import other style files */

*{
  font-family: 'Inter', Arial, sans-serif;
  text-decoration: none;
  color: inherit;

}
.cdk-overlay-container,
.cdk-overlay-pane {
  z-index: 2000 !important;
}
