 .grid.two-cols { display: grid; grid-template-columns: repeat(auto-fit,minmax(240px,1fr)); gap: 1rem; }

.card{
  max-width: 900px; margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.53);
}

.add-item{
  background-color: #dddddd;
  cursor: pointer;
  border-radius:6px;
}

.error{
    background:#ffe5e5;
    color:#900;
}
