 .grid { display: grid; grid-template-columns: repeat(auto-fit,minmax(240px,1fr)); gap: 1rem; }

.card{
  max-width: 75vw; margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.53);
  overflow-x: auto;
  z-index: 10;
}

.add-item{
  background-color: #dddddd;
  cursor: pointer;
  border-radius:6px;
  margin-left: 10px;
  margin-bottom: 10px;
}


 .items {
   margin: 10px;
   width: 95%;
   border-collapse: collapse;
   table-layout: fixed;
   border: 1px solid #ccc;
 }

 .items th,
 .items td {
   border: 1px solid #ccc;
   padding: 6px;
   text-align: left;
 }

 .items mat-form-field {
   width: 100%;
 }

 .items th:last-child,
 .items td:last-child {
   width: 30px;
   text-align: center;
 }

 button[disabled],
 button.mat-button-disabled {
   color: #666666;
   cursor: not-allowed;
   border-radius:6px;
   opacity: 0.8;
 }

 .items thead {
   display: table-header-group;
 }

 .items tbody.mobile {
   display: block;
   width: 100%;
 }

 .items tbody.mobile tr {
   display: block;
   width: 100%;
   margin-bottom: 15px;
   border: 1px solid #ccc;
   border-radius: 4px;
   padding: 10px;
 }

 .items tbody.mobile td {
   display: block;
   border: none;
   text-align: right;
   padding: 5px 0;
 }

 .items tbody.mobile td::before {
   content: attr(data-label);
   float: left;
   font-weight: bold;
   text-transform: uppercase;
   margin-right: 10px;
   margin-top: 5px;
 }

 .items tbody.mobile td mat-form-field {
   margin-top: 5px;
   margin-bottom: 5px;
 }

 .items tbody.mobile tr td:last-child {
   text-align: center;
   padding-top: 10px;
 }

 .items tbody.mobile tr td:last-child::before {
   content: none;
 }
