<section class="invoice-create">
  <mat-card class="card" appearance="raised">
    <mat-card-header>
      <h2>Nová faktura</h2>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
        <div class="grid">
          <mat-form-field>
            <mat-label>Číslo faktury</mat-label>
            <input
              matInput
              type="text"
              formControlName="invoiceNumber"
              placeholder="20250001"
              required
            />
            @if (form.get('invoiceNumber')?.touched && form.get('invoiceNumber')?.invalid) {
              <mat-error>Vyplňte číslo faktury (min. 3 znaky)</mat-error>
            }
          </mat-form-field>

          <mat-form-field>
            <mat-label>Referenční číslo faktury</mat-label>
            <input
              matInput
              type="text"
              formControlName="referenceNumber"
              placeholder="INV-2025-11-07"
            />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Zákazník</mat-label>
            <mat-select formControlName="customerId">
              @for(user of users; track $index){
                <mat-option [value]="user.id">{{user.email}}</mat-option>
              }
            </mat-select>
            @if (form.get('customerId')?.touched && form.get('customerId')?.invalid) {
              <mat-error>Zákazník je povinný</mat-error>
            }
          </mat-form-field>

          <mat-form-field>
            <mat-label>Datum vystavení</mat-label>
            <input
              matInput
              [matDatepicker]="IssueDatePicker"
              formControlName="issueDate"
              required
            />
            <mat-datepicker-toggle matIconSuffix [for]="IssueDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #IssueDatePicker></mat-datepicker>
            @if (form.get('issueDate')?.touched && form.get('issueDate')?.hasError('required')) {
              <mat-error>Datum vystavení je povinné</mat-error>
            }
          </mat-form-field>

          <mat-form-field>
            <mat-label>Splatnost</mat-label>
            <input
              matInput
              [matDatepicker]="dueDatePicker"
              formControlName="dueDate"
              required
            />
            <mat-datepicker-toggle matIconSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #dueDatePicker></mat-datepicker>
            @if (form.get('dueDate')?.touched && form.get('dueDate')?.hasError('required')) {
              <mat-error>Datum splatnosti je povinné</mat-error>
            }
          </mat-form-field>

          <mat-form-field>
            <mat-label>Měna</mat-label>
            <mat-select formControlName="currency">
              @for (c of currencyOptions; track c) {
                <mat-option [value]="c">{{ c }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Stav</mat-label>
            <mat-select formControlName="status">
              @for (s of statusOptions; track s) {
                <mat-option [value]="s">{{ s }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Celková částka bez daně</mat-label>
            <input matInput type="number" formControlName="subAmount" readonly/>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Celková částka s daní</mat-label>
            <input matInput type="number" formControlName="amount" readonly />
          </mat-form-field>
        </div>

        <h3>Položky</h3>
        <table class="items" [ngClass]="responsiveService.isMobile ? 'mobile' : ''">
          @if(!responsiveService.isMobile){
            <thead>
            <tr>
              <th>Název</th>
              <th>Popis</th>
              <th>Jednotka</th>
              <th>Množství</th>
              <th>Jedn. cena</th>
              <th>Celkem bez daně</th>
              <th>DPH</th>
              <th>Celkem s daní</th>
              <th></th>
            </tr>
            </thead>
          }

          <tbody formArrayName="items" [ngClass]="responsiveService.isMobile ? 'mobile' : ''">
            @for (item of items.controls; track item; let i = $index) {
              <tr [formGroupName]="i">
                <td data-label="Název">
                  <mat-form-field>
                    <input matInput formControlName="name" required />
                  </mat-form-field>
                  @if (item.get('name')?.touched && item.get('name')?.invalid) {
                    <mat-error>Název je povinný</mat-error>
                  }
                </td>
                <td data-label="Popis">
                  <mat-form-field>
                    <input matInput formControlName="description" required />
                  </mat-form-field>
                  @if (item.get('description')?.touched && item.get('description')?.invalid) {
                    <mat-error class="invalid">Popis je povinný</mat-error>
                  }
                </td>
                <td data-label="Jednotka">
                  <mat-form-field>
                    <input matInput formControlName="unit" required (input)="recalcItemTotal(i)" />
                  </mat-form-field>
                  @if (item.get('unit')?.touched && item.get('unit')?.invalid) {
                    <mat-error>Jednotka je povinná</mat-error>
                  }
                </td>
                <td data-label="Množství">
                  <mat-form-field>
                    <input matInput formControlName="quantity" type="number" min="0" (input)="recalcItemTotal(i)" />
                  </mat-form-field>
                  @if (item.get('quantity')?.touched && item.get('quantity')?.invalid) {
                    <mat-error>Zadejte množství</mat-error>
                  }
                </td>
                <td data-label="Jedn. cena">
                  <mat-form-field>
                    <input matInput type="number" step="0.01" min="0" formControlName="unitPrice" required (input)="recalcItemTotal(i)" />
                  </mat-form-field>
                </td>
                <td data-label="Celkem bez daně">
                  <mat-form-field>
                    <input matInput formControlName="subTotalPrice" readonly />
                  </mat-form-field>
                </td>
                <td data-label="DPH">
                  <mat-form-field>
                    <input matInput formControlName="vat" type="number" min="0" (input)="recalcItemTotal(i)" />
                    @if (item.get('vat')?.touched && item.get('vat')?.invalid) {
                      <mat-error class="invalid">Zadejte DPH</mat-error>
                    }
                  </mat-form-field>
                </td>
                <td data-label="Celkem s daní">
                  <mat-form-field>
                    <input matInput formControlName="totalPrice" readonly />
                  </mat-form-field>
                </td>

                <td style="width: 30px">
                  <button
                    mat-icon-button
                    color="warn"
                    type="button"
                    (click)="removeItem(i)"
                    [disabled]="items.controls.length === 1"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </tr>
            }
          </tbody>
        </table>

        <button
          mat-button
          color="primary"
          type="button"
          class="add-item"
          (click)="addItem()"
        >
          <mat-icon aria-label="add">add</mat-icon>
          Přidat položku
        </button>

        <div class="actions">
          @if(editMode()){
            <button
              mat-flat-button
              type="submit"
              [disabled]="submitting || form.invalid">
              Editovat
            </button>
          } @else {
            <button
              mat-flat-button
              type="submit"
              [disabled]="submitting || form.invalid">
              Vytvořit
            </button>
          }
          <a mat-button routerLink="/invoices">Zpět</a>
        </div>
      </form>
      @if (error) {
        <mat-error>{{ error }}</mat-error>
      }
      @if (success) {
        <mat-hint>{{ success }}</mat-hint>
      }
    </mat-card-content>
  </mat-card>
</section>
