@import '../../../common/common-table-cards.css';

.status {
  text-transform: lowercase;
  font-size: .75rem;
  letter-spacing: .5px;
  padding: .15rem .45rem;
  border-radius: .5rem;
  background: #eef2ff;
  color: #4338ca;
}

.status[data-status='PAID'] {
  background: #dcfce7;
  color: #166534;
}

.status[data-status='OVERDUE'] {
  background: #fee2e2;
  color: #991b1b;
}

.status-badge{
  padding: 5px;
  border-radius: 8px;
}


.clickable-row {
  cursor: pointer;
}

.clickable-row:hover {
  background: #f4f4f4;
  cursor: pointer;
}

tr.table-row:active {
  background: #d9ffe7;
}

.mat-header-cell, .mat-cell {
  text-align: center;
  justify-content: center;
}

.mat-row, .mat-header-row {
  align-items: center;
}